.claim {
  background-color: rgb(7, 7, 7);
  z-index: 2000;
  /* opacity: 0.9; */
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw; /* viewport width */
  /* height: 100vh; viewport height */
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
}

.modal_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.modal_container .project_description {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.project_description .project_overview{
  width: 100%;
}
.project_description .project_title {
  color: rgb(166, 166, 240);
  font-size: 30px;
  justify-content: center;
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}

.project_overview .overview {
  font-size: 25px;
  color: rgb(166, 166, 240);
  font-weight: 700;
  width: 100%;
}
.project_overview .description {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(63, 63, 88);
  font-style: oblique;
}
.project_role {
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.project_role .overview {
  width: 100%;
  text-align: start;
  color: rgb(166, 166, 240);
  font-size: 30px;
  justify-content: center;
  width: 100%;
  font-weight: 700;
}
.project_role ul {
  width: 95%;
  list-style: cambodian;
  display: flex;
  flex-flow: column;
}
.project_role ul li {
  font-size: 15px;
  color: rgb(63, 63, 88);
  font-size: 10px;
  font-style: oblique;
}

.project_skills {
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.project_skills .overview {
  font-size: 25px;
  color: rgb(166, 166, 240);
  font-weight: 700;
  text-align: left;
  width: 100%;
  text-align: start;
}
.project_skills ul {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project_skills ul li {
  width: auto;
  padding: 2px;
  font-size: 15px;
  color: rgb(63, 63, 88);
}
.svg-icon {
  width: 1em;
  height: 1em;
}

.cancel {
  position: fixed;
  left: 10px;
  top: 10px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: wheat;
  cursor: pointer;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #d12b2b;
}

.svg-icon circle {
  stroke: #d12b2b;
  stroke-width: 1;
  width: 75px;
  height: 80px;
}
@media only screen and (min-width: 600px) {
  /* .claim {
    overflow: none !important;
  }
  .claim .modal_container {
    overflow: none !important;
  } */
  .project_description .overview,
  .project_role .overview,
  .project_skills .overview {
    font-size: 20px;
  }
  .project_skills ul li,
  .project_role ul li {
    font-size: 20px;
  }
  .project_overview .description {
    font-size: 18px;
    line-height: 30px;
  }
}
