.project {
  background-color: #191919;
}
.project .heading {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.heading .aside {
  width: 90%;
}

img.project__img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
  opacity: 0.7;
  position: relative;
}
img.project__img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  opacity: 1;
}
.mask__effect {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9004d;
  border-radius: 10px;
  transition: 0.4s;
  opacity: 0.3;
  display: none;
}
.project__box:hover .mask__effect {
  display: inline;
  transform: scale(1.1);
}
.project__box:hover img.project__img {
  transform: scale(1.1);
}
.project__meta.absolute {
  top: 0%;
  left: 0%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
}
h5.project__text {
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 20px;
}
h4.project__text {
  font-size: 22px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}

button.project__btn {
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  border: 2px solid #ffffff87;
  background-color: #fff;
  color: #132fce !important;
  text-transform: uppercase;
  transition: 0.4s all ease;
}
button.project__btn:hover {
  background-color: #fff;
  border: 2px solid #f9004d;
  color: #f9004d !important;
}
/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .heading .aside2 {
    font-size: 35px !important;
  }
  h5.project__text {
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
  }
  h4.project__text {
    font-size: 18px;
  }
}
